@import "tailwindcss";

html {
  scroll-behavior: smooth;
  max-width: 100vw;
}

:root {
  --homebg: black;
  --background: #ebebeb;
  --foreground: #171717;
  --opp-fore: #363636;
  --svg: invert(0);
  --glass-from: rgba(255, 255, 255, 0.6);
  --glass-to: rgba(255, 255, 255, 0.2);
  --glass-border: rgba(255, 255, 255, 0.2);
  --bg-img: url("https://www.transparenttextures.com/patterns/light-toast.png");
}

.dark {
  --homebg: white;
  --background: #171717;
  --foreground: #ebebeb;
  --opp-fore: #d3d3d3;
  --svg: invert(1);
  --glass-from: rgba(0, 0, 0, 0.6);
  --glass-to: rgba(0, 0, 0, 0.2);
  --glass-border: rgba(255, 255, 255, 0.2); /* You can adjust this if needed */
  --bg-img: url("https://www.transparenttextures.com/patterns/black-paper.png");
}

.glass-effect {
  backdrop-filter: blur(2rem);
  background: linear-gradient(to bottom, var(--glass-from), var(--glass-to));
}


.foreground-color {
  filter: var(--svg) ;
}

.theme-toggle {
  cursor: pointer;
  color: var(--foreground);
  transition: color 0.3s ease;
}

/* html.light .theme-toggle {
  color: #1a1a1a;
}

html.dark .theme-toggle {
  color: #fafafa;
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  cursor: none;
  overflow-x: hidden;
  /* background-image: var(--bg-img) */
}


.hoverBg::after {
  background-color: var(--foreground);
}

.opposite{
  background: var(--opp-fore);
  color: var(--background);
}

.opp-back{
  background-color: var(--homebg);
  color: var(--background);
}

.underline-black::after {
  background-color: var(--background);
}

.underline-white::after {
  background-color: var(--background);
}

.font-gloock {
  font-family: 'Gloock', serif;
}
